<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzc.deposit.repository.mapper.guar.GuarLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yzc.common.guar.entity.GuarLog">
        <id column="log_id" property="logId" />
        <result column="log_code" property="logCode" />
        <result column="log_content" property="logContent" />
        <result column="log_time" property="logTime" />
    </resultMap>

</mapper>
