<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzc.deposit.repository.mapper.deposit.WFTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yzc.common.deposit.entity.WFType">
        <id column="wfTypeId" property="wfTypeId" />
        <result column="wfType" property="wfType" />
        <result column="wfTypeName" property="wfTypeName" />
    </resultMap>

</mapper>
